body {
    --font-family: system-ui;
    --lightgrey: #dfe1e1;
    --metalblack: #3a3d4d;
    --metalblack-x: #23252f;
    --metalblack-hover: #3a3d4ddd;

    --sandyellow: #f1f181;
    --sandyellow-strong: #fafa72;

    /* buttons */
    --button-color: #313025;
    --button-color-hover: #313025dd;
    --button-color-selected: #9e9b76;
    --button-color-selected-hover: #9e9b76e9;

    /* header/footer */
    --sandygrey: #bebba3;
    --sandywarmgrey: #c8c1af;
    --sandygrey-hover: #a2a08c;
    --sandyblack: #1b1c15;

    --box-margin: 26px;
    --box-large-margin: 36px;
    --section-margin: 46px;
    --panel-max-width: 620px;

    --box-max-width: 620px;
    --text-font-size: 16px;
    --h3-font-size: 18px;
    --text-line-height: 24px;
    --heading-margin: 24px;
    --text-margin: 16px;
    --text-margin-mobile: 12px;
    --text-max-width: 750px;
    --slim-text-max-width: 580px;
    --text-col2-max-width: 840px;
    --box-slight-indent: 0.4%;
    --list-item-margin: 5px;
    --menu-gap: 8px;
    --medium-transition: background-color 0.18s ease-in-out;
    --fast-transition: background-color 0.05s ease-in-out;
}


/* common */

body { margin: 0; background-position: center center;  background-repeat: repeat; }
body * { box-sizing: border-box; }
html { overflow-y: scroll; }

table { border-collapse: collapse; }
table td { vertical-align: top; }

.medium-transition, a, .standard-button, .slim-button, input[type='submit'] { transition: var(--medium-transition) }
.fast-transition { transition: var(--fast-transition) }


/* layout */

.site-container { display: flex; flex-direction: column; min-height: 100vh;  }
.main-container { display: flex; flex-direction: column; flex: 1 0 auto; width: 100%; margin: 0 auto; }
.content-container { flex: 1 0 auto; }
.header-banner, .footer-banner { flex: 0 0 auto; }


/* containers */

.box-container { position:relative; max-width: 100%; margin-top: var(--box-margin); margin-bottom: var(--box-large-margin); }
.fit-container { width: fit-content; }
.center-container { width: fit-content; margin: var(--box-margin) auto  var(--box-large-margin); }
.text-container { max-width: 880px; margin: var(--box-margin) 0; }

/* text */

ul li { margin-bottom: var(--list-item-margin); }
ul li:last-child { margin-bottom: 0; }
ul.dot, ul.not-dot { padding-left:0; margin-left: 3px; }
ul.dot li { list-style-type:none; padding-left:18px; background:url(images/icons/dot-black.png) no-repeat left -1px; }
ul li.list-sub-item { margin-left: 28px;}
ul.not-dot li { list-style-type:none; }

p, td, tr, li, h3 { line-height: var(--text-line-height);}
p, ul { margin-top: var(--text-margin); margin-bottom: var(--text-margin); }

.text-nowrap { white-space: nowrap;}
.text-center { text-align: center;}

/* fonts */

body { font-family: var(--font-family), sans-serif; font-size: var(--text-font-size); }


/* panel */

.text-panel { display: flow-root; max-width: 700px;  background-color: #f3f3f3; padding: 0 20px;  border-radius: 4px; margin: var(--box-margin) 0; }


/* table */

.table, .base-table { margin: var(--text-margin) 0; }
.box-container .table { margin-top: 0; margin-bottom: 0;}
.stretch-table { width: 100%; }
.table td { padding: 4px 15px; border:1px solid var(--lightgrey); line-height: var(--text-line-height); }
.table .heading td { font-weight: bold;  background-color: var(--lightgrey);  white-space: nowrap; }
.table .heading td {vertical-align: inherit;}
.table .heading td:nth-child(n+1) { border-right-color: white; }
.table .heading td:last-child { border-right-color: var(--lightgrey); }

tbody tr td { transition: var(--fast-transition);}

.active-table tr[data-href]:hover td, .smart-table tbody tr:not(.heading):hover td { background-color: #f6f6f6; }
.active-table td:hover .inline-text-label { background-color: #dddddd; }
.active-table tbody tr[data-href] td { cursor: pointer; }


/* dev */

p.todo { display: flex; justify-content: center; align-items: center; margin: var(--box-margin) 0; min-height: 140px; max-width: var(--text-max-width); padding:28px 12px; text-align: center; background-color: #fff3ef; border: 1px dashed #cdb5b5;}
