
/* common */

ul li { margin-bottom: var(--list-item-margin); }
ul li:last-child { margin-bottom: 0; }
ul.dot, ul.not-dot { padding-left:0; margin-left: 3px; }
ul.dot li { list-style-type:none; padding-left:18px; background:url(images/icons/dot-black.png) no-repeat left -1px; }
ul li.list-sub-item { margin-left: 28px;}
ul.not-dot li { list-style-type:none; }

p, td, tr, li, h3 { line-height: var(--text-line-height);}
p, ul { margin-top: var(--text-margin); margin-bottom: var(--text-margin); }

/* fonts */

body { font-family: var(--font-family), sans-serif; font-size: var(--text-font-size); }

/* formatting */

.text-nowrap { white-space: nowrap;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.strong-text { font-weight: bold;}
.text-wide { letter-spacing: 2px;}


/* panel */

.text-panel { display: flow-root; max-width: 700px;  background-color: #f3f3f3; padding: 0 20px;  border-radius: 4px; margin: var(--box-margin) 0; }

/* boolean */

.text-label { border-radius: 15px; padding: 0 12px 2px; margin: 0 auto; position:relative; top: 1px; }
.table td .text-label { line-height: 21px;}
.in-bool { position: relative; top: -1px; }
.text-label-true { background-color: #5fd35f; color: white;}
.text-label-false { background-color: #f66a4a; color: white;}
.text-label-null { background-color: #e3e3e3; color: black;}
.text-label-strong { background-color: #5b4f43; color: white;}
.text-label-soft { background-color: #e3dcd5; }

.inline-text-label { background-color: #efeeee; padding: 1px 7px 2px;  border-radius: 6px; margin-right: 6px; }


/* table */

.table, .base-table { margin: var(--text-margin) 0; }
.box-container .table { margin-top: 0; margin-bottom: 0;}
.stretch-table { width: 100%; }
.table td { padding: 4px 15px; border:1px solid var(--lightgrey); line-height: var(--text-line-height); }
.table .heading td { font-weight: bold;  background-color: var(--lightgrey);  white-space: nowrap; }
.table .heading td {vertical-align: inherit;}
.table .heading td:nth-child(n+1) { border-right-color: white; }
.table .heading td:last-child { border-right-color: var(--lightgrey); }

tbody tr td { transition: var(--fast-transition);}

.active-table tr[data-href]:hover td, .smart-table tbody tr:not(.heading):hover td { background-color: #f6f6f6; }
.active-table td:hover .inline-text-label { background-color: #dddddd; }
.active-table tbody tr[data-href] td { cursor: pointer; }

.tiny-cell { width: 30px;}
.small-cell { width: 105px;}

.table-heading { font-size: 19px; margin: 0; padding: 6px 18px 8px;  background-color: var(--metalgray); color: white;}
