
/* layout containers */

.site-container { background-color: #f6f6f3; background-image: url("images/layout/site-background-warm.png"); }
.main-container { max-width: 1050px; background-color: white; }
.content-container { display: flow-root;  padding: 0 2.8% 1px; margin-bottom: var(--text-margin); }
.header-banner, .footer-banner { flex: 0 0 auto; }

/* aside */

.aside-container { }
.side-column { width: 38%; float: right; margin: 0 0 0 3.2%; }
.flow-view { display: none; }
.grid-view { display: block; }

@media (max-width: 890px)
{
    .grid-view { display: none; }
    .flow-view { display: block; }
}


/* article */

.article-container {}
.medium-article { }

.narrow-content p, .narrow-content ul, .narrow-content h3 { max-width:  var(--text-max-width); }
p.slim-text { max-width: var(--slim-text-max-width); }

@media (max-width: 520px)
{
    .article-container h1, .article-container h2 { margin-left: 2px; }
    .content-container { padding: 0 1.8%; }
}

/* button link */

.button-link-menu { display: flex; flex-flow: row wrap; justify-content: flex-start; gap: var(--menu-gap); }
.button-link-bar { display: flex; flex-flow: row wrap; justify-content: flex-start; margin: var(--box2-margin) 0; }

.button-link { padding: 7px 22px 9px;  border-radius: 3px; text-decoration: none; text-align: center; background-color: var(--button-color); color: white; white-space: nowrap; background-repeat: no-repeat; }
.button-link:hover {  background-color: var(--button-color-hover); }
.button-link.selected { background-color: var(--button-color-selected); }
.button-link.selected:hover { background-color: var(--button-color-selected-hover); }

.button-link-disabled, .button-link-disabled:hover { background-color: var(--button-color-disabled); color: #def; cursor: default; }

