/* text */

h1.heading, h2.heading, h2.section-heading { font-size: var(--heading-font-size); line-height: var(--heading-line-height); margin: var(--heading-margin) 0; }
.section-heading { margin-top: var(--section-margin); }

h3 { font-size: var(--sub-heading-font-size); line-height: var(--sub-heading-line-height); margin: var(--text-margin) 0; }
h4 { margin: var(--text-margin) 0 2px; }
h4 + p { margin-top: 2px; }

.text-wide { max-width: var(--text-wide-width); }
.text-standard { max-width: var(--text-standard-width); }
.text-compact { max-width: var(--text-compact-width); }
.text-narrow { max-width: var(--text-narrow-width); }


/* images */

.image-container { display: flex; flex-wrap: wrap; gap: var(--box-margin-large); margin: var(--box-margin) 2px var(--box-margin-large); }
.image-container img { display: block; max-width: 100%; }

@media (max-width: 560px) {
    .image-container.portrait-image { margin-inline: var(--portrait-margin); }
    .image-container { align-items: center; }
}

.image-block-container { display: flex; gap: var(--box-margin-large); margin: var(--box-margin) 2px var(--box-margin-large); }
.image-block-container img { display: block; max-width: 100%; }
.image-block-container p { margin: var(--text-margin-small) 0 0 2px; }

@media (max-width: 820px) {
    .image-block-container { flex-wrap: wrap; }
}

@media (max-width: 560px) {
    .image-block-container { align-items: center; }
    .image-block-container.portrait-image { margin-inline: var(--portrait-margin); }
}


/* elements */

.text-panel { display: flow-root; background-color: #f3f3f3; padding: 0 20px;  border-radius: 4px; margin: var(--box-margin) 0; }
