
/* images */

.content-photo-wrapper { display: flex; flex-direction: row; column-gap: 4.6%; row-gap: var(--box-box-margin); margin: var(--box-box-margin) 3px; }
.sub-wrapper { }
.photo-caption { margin: var(--text-margin) 0 0 2px;}
.content-photo { display: block;  max-width: 100%; }

@media(max-width: 800px) {
    .content-photo-wrapper { flex-direction: column; /*gap: var(--box-margin);*/ }
}
@media(max-width: 700px) {
    .photo-portrait-wrapper { margin-left: var(--box-margin);margin-right: var(--box-margin);  }
}
@media(max-width: 680px) {
    .content-photo-wrapper { align-items: center; }
}

/* text */

.section-heading { margin-top: var(--section-section-margin);}


/* breakpoints */

.mobile-view { display: none;}

@media (max-width: 850px)
{
    .desktop-view { display: none;}
    .mobile-view { display: block;} /* initial sometimes works not satisfiably */
}

.menu-mobile-view { display: flex;}
.toggle-menu-button { display: none;}

@media (max-width: 650px)
{
    .main-menu .button { padding-left: 28px;  padding-right: 28px; }
    .menu-mobile-view { display: none;}
    .toggle-menu-button { display: block;}
}


/* global overriding */

.menu-opened { display: flex;}


/* flex-flow boxes ;) */

.photo-wrapper {  display: flow-root;  width: fit-content;  max-width: 800px; }
.sample-photo { display: block; max-width: 100%;}
.text-panel {  display: flow-root; max-width: 700px;  background-color: #f3f3f3; padding: 0 20px;  border-radius: 4px; }


/*  development  */

p.todo { display: flex; justify-content: center; align-items: center; margin-top: var(--box-margin);  margin-bottom: var(--box-margin); height: 240px; padding:28px 12px; text-align: center;  max-width: var(--box-max-width); background-color: #fde1e3; color: #a4a4a4; border: 1px dashed #a4a4a4;}
p.todo:before { content: "Doplnit";  }
p.todo:after { content: "....";  }

@media (max-width: 610px)
{
    p.todo { max-width: none;}
}

