/* text */

h1.heading, h2.heading, h1.section-heading, h2.section-heading { font-size: 26px; font-weight: 700; margin: var(--heading-margin) 0;}
.section-heading { margin-top: var(--section-margin);}
h3 { font-size: 22px; font-weight: 500;  margin: var(--text-margin) 0;}
h4 {  font-size: var(--text-font-size); margin: var(--text-margin) 0 7px;}

/* images */

.content-photo-wrapper { display: flex; flex-direction: row; column-gap: 4.6%; row-gap: var(--box-box-margin); margin: var(--box-box-margin) 3px; }
.sub-wrapper { }
.photo-caption { margin: var(--text-margin) 0 0 2px;}
.content-photo { display: block;  max-width: 100%; }

@media(max-width: 800px) {
    .content-photo-wrapper { flex-direction: column; /*gap: var(--box-margin);*/ }
}
@media(max-width: 700px) {
    .photo-portrait-wrapper { margin-left: var(--box-margin);margin-right: var(--box-margin);  }
}
@media(max-width: 680px) {
    .content-photo-wrapper { align-items: center; }
}


/* flex-flow boxes ;) */

.photo-wrapper {  display: flow-root;  width: fit-content;  max-width: 800px; }
.sample-photo { display: block; max-width: 100%;}
.text-panel {  display: flow-root; max-width: 700px;  background-color: #f3f3f3; padding: 0 20px;  border-radius: 4px; }

