
/*  header  */

.header-banner, .footer-banner  { background-color: var(--sandywarmgrey);  background-image: url("images/layout/header-light.jpg"); }

.header-container { height: 302px; max-width: 1160px; margin: 0 auto;  display: flex; flex-flow: row nowrap; }

.illustration-wrapper { width: 40%; display: flex; justify-content: flex-end; }
.header-illustration { width: 93%; background-repeat: no-repeat; background-position: center center;  background-image: url("images/layout/illustration.1980.png"); }

.header-wrapper { width: 60%; display: flex; justify-content: flex-start;  /*border: 1px dashed orange;*/ }
.header-subwrapper { width: 96%; display: flex; justify-content: center; align-items: center; /*border: 1px dashed orange;*/ }
.header-group { width: fit-content; display: flex; flex-direction: column; gap: 32px; }
.header-title-group { display: flex; gap: 25px;  align-items: center; /*border: 1px dashed red;*/ }

.header-logo { width: 89px; height: 125px; background-image: url("images/layout/logo.125.png"); background-repeat: no-repeat;  background-position: center center; }

.header-text { display: flex; flex-direction: column; row-gap: 16px;  text-decoration: none;  color: #1b1c15; }
.header-text-item { font-size: 48px; line-height: 48px; font-family: "Signika", serif; white-space: nowrap; font-weight: 600; word-spacing: 9px; display: block; color: #2a231c;}

.header-subtitle { display: flex; flex-direction: column; align-items: center; gap:12px; }
.header-subitem { width: fit-content; font-family: 'Signika', system-ui, sans-serif; font-size: 22px; line-height: 22px; color: black; word-spacing: 3px; }

@media (max-width: 1240px) {
    .header-container { height: 284px; }
    .header-illustration { background-image: url("images/layout/illustration.1240.png"); }
    .header-group { gap: 28px; }
    .header-logo { width: 83px; height: 117px; background-image: url("images/layout/logo.117.png"); }
    .header-text { row-gap: 14px; }
    .header-text-item { font-size: 46px; line-height: 46px; word-spacing: 8px; }
    .header-subitem { font-size: 21px; line-height: 22px; }
}

@media (max-width: 950px) {
    .header-container { height: 230px; }
    .header-illustration { background-image: url("images/layout/illustration.950.png"); }
    .header-title-group { gap: 22px; }
    .header-group { gap: 20px; }
    .header-text { row-gap: 11px; }
    .header-logo { width: 68px; height: 96px; background-image: url("images/layout/logo.96.png"); }
    .header-text-item { font-size: 38px; line-height: 38px; word-spacing: 6px; }
    .header-subtitle { gap: 10px; }
    .header-subitem { font-size: 18px; line-height: 18px;  word-spacing: 2px; }
}

@media (max-width: 730px) {
    .header-container { height: 200px; }
    .header-illustration { width: 100%; background-image: url("images/layout/illustration.730.png"); }
    .header-title-group { gap: 19px; }
    .header-group { gap: 16px; }
    .header-logo { width: 57px; height: 82px; background-image: url("images/layout/logo.82.png"); }
    .header-text { row-gap: 9px; }
    .header-text-item { font-size: 32px; line-height: 32px; }
    .header-subtitle { gap: 8px; }
    .header-subitem { font-size: 16px; line-height: 16px; }
}

@media (max-width: 630px) {
    .header-container { height: 175px; }
    .header-illustration { width: 100%; background-image: url("images/layout/illustration.630.png"); }
    .header-title-group { gap: 19px; }
    .header-group { gap: 14px; }
    .header-logo { width: 50px; height: 73px; background-image: url("images/layout/logo.73.png"); }
    .header-text { row-gap: 6px; }
    .header-text-item { font-size: 30px; line-height: 30px; }
    .header-subtitle { gap: 6px; }
    .header-subitem { font-size: 16px; line-height: 16px; }
}


@media (max-width: 450px)
{
    .site-title-wrapper { height: 310px; gap: 8px; justify-content: flex-start; padding-top: 35px; }
    .logo-image {  background-image: url("images/layout/logo-cierny-820.png");}
    .title-line { font-size: 32px; line-height: 36px; }
}


/* footer */

.site-footer { background-color: var(--sandywarmgrey);}
.footer-wrapper {  max-width: 1120px; margin: 0 auto; }
.footer-bar { color: black; margin: 0; padding: 22px 45px; min-height: 28px;  line-height: 28px;}
.footer-delim { margin: 0 6px;}
.link-bar { float: right; }
.footer-link { color: black; padding: 0 12px 3px; margin-right: -12px;  border-radius: 18px; white-space: nowrap; }
.footer-link:hover { background-color: #eee6;}
.footer-link + .footer-link { margin-left: 16px;}

@media (max-width: 780px)
{
    .footer-bar { text-align: center; padding-left: 6px; padding-right: 6px;}
    .link-bar {  float: none; display: block;  }
}

@media (max-width: 520px)
{
    .footer-bar { text-align: center; padding-left: 6px; padding-right: 6px;}
    .footer-snipp { display: block;}
    .footer-delim {  display: none;}
}
