application:
	errorPresenter:
		4xx: Error:RequestError
		5xx: Error:ServerError

	mapping: 'App\Presentation\*\**Presenter'

	catchExceptions: true

extensions:
	discovery: Mildabre\ServiceDiscovery\DI\ServiceDiscoveryExtension			# required as first
	bite: Bite\DI\BiteExtension

session:
	expiration: 14 days

http:
	headers:
		X-Powered-By: false

di:
	export:
		parameters: no
		tags: no

php:
	date.timezone: Europe/Prague

latte:
	templateClass: Bite\Template\DefaultTemplate
