services:
	router:
		create: App\Infrastructure\Router\RouterFactory::create()

	canonizer:
		class: Bite\Components\BaseCanonizer\BaseCanonizer
		arguments:
			- @bite.config
			- @http.request

	assetLink:
		class: Bite\Components\AssetLink\AssetLink
		arguments:
			- @bite.config

	checkRunner:
		class: Bite\Reflection\Checker\ComponentCheckRunner

	security.user:
		class: Bite\Security\AuthUser
		alteration: true

	textHtmlParser:
		class: Bite\Components\Text\TextHtmlParser

discovery:
	in:
		- %appDir%

	type:
		- Bite\Control\AbstractControl
		- Bite\Persistence\Abstract\Repository

	enableInject:
		- Bite\Control\AbstractControl
		- Bite\Persistence\Abstract\Repository
