
/*  base-panel  */

.base-panel { display: flex; flex-direction: column; align-items: center; padding: 6px 0;  border-radius: 3px; gap: 8px; }
.article .base-panel {  max-width: var(--box-max-width); margin-top: var(--box-margin);  margin-bottom: var(--box-margin);  }

.base-panel h2 { text-align: center; margin: 8px 0; font-size: 29px; letter-spacing: -1px;}
.base-panel .text { text-align: center;  margin: 8px 0; }
.base-panel .label-button-wrapper { margin: 20px 0; display: flex; gap:12px;  }
.base-panel .label-button-link { font-weight: 700; padding: 0 20px;  border-radius: 28px; font-size: 26px; display: block; width: fit-content;margin: 0 auto; line-height: 40px; height: 40px; letter-spacing: -2px; word-spacing: 2px; text-decoration: none; white-space: nowrap; background-position: 12px center;  background-repeat: no-repeat; }
.base-panel .phone-link { cursor: default;}
.base-panel .small-button-link { font-size: 18px; line-height: 38px; height: 38px; font-weight: normal; letter-spacing: 0; }
.base-panel .small-button-link span { position: relative; top: -1px;}

@media (max-width: 610px)
{
    .article .base-panel { margin-left:  auto; margin-right:  auto; }
}

.phone-text-link { color: white; text-decoration: none;}


/*  express-panel  */

.express-panel { background-color: var(--metalblack); }
.express-panel h2 { color: white; letter-spacing: 0; }
.express-panel .text { color: white; }
.express-panel .text strong { font-weight: normal; color: var(--sandyellow);}
.express-panel .mail-link { color: var(--sandyellow-strong); padding: 3px 14px 4px;  border-radius: 16px;}
.express-panel .mail-link:hover {  background-color: #fff3;}
.express-panel .label-button-link { padding-left: 47px; background-color: var(--sandyellow); color: black;  background-image: url("images/icons/phone-black-28.png"); }


/*  light-panel  */

.light-panel { background-color: var(--lightgrey); }
.light-panel h2 { color: var(--metalblack-x); }
.light-panel .text { color: black; }
.light-panel .text strong { font-weight: normal; color: blue;}
.light-panel .label-button-link { background-color: var(--metalblack); color: white;  }
.light-panel .label-button-link:hover { background-color: var(--metalblack-hover); }
.light-panel .centered-box {  width: fit-content;  margin: 0 auto; text-align: left; }


/* images */

.content-photo-wrapper { display: flex; flex-direction: row; column-gap: 4.6%; row-gap: var(--box-box-margin); margin: var(--box-box-margin) 3px; }
.sub-wrapper { }
.photo-caption { margin: var(--text-margin) 0 0 2px;}
.content-photo { display: block;  max-width: 100%; }

@media(max-width: 800px) {
    .content-photo-wrapper { flex-direction: column; /*gap: var(--box-margin);*/ }
}
@media(max-width: 700px) {
    .photo-portrait-wrapper { margin-left: var(--box-margin);margin-right: var(--box-margin);  }
}
@media(max-width: 680px) {
    .content-photo-wrapper { align-items: center; }
}

/* text */

.section-heading { margin-top: var(--section-section-margin);}


/* breakpoints */

.mobile-view { display: none;}

@media (max-width: 850px)
{
    .desktop-view { display: none;}
    .mobile-view { display: block;} /* initial sometimes works not satisfiably */
}

.menu-mobile-view { display: flex;}
.toggle-menu-button { display: none;}

@media (max-width: 650px)
{
    .main-menu .button { padding-left: 28px;  padding-right: 28px; }
    .menu-mobile-view { display: none;}
    .toggle-menu-button { display: block;}
}


/* global overriding */

.menu-opened { display: flex;}


/* flex-flow boxes ;) */

.photo-wrapper {  display: flow-root;  width: fit-content;  max-width: 800px; }
.sample-photo { display: block; max-width: 100%;}
.text-panel {  display: flow-root; max-width: 700px;  background-color: #f3f3f3; padding: 0 20px;  border-radius: 4px; }


/*  development  */

p.todo { display: flex; justify-content: center; align-items: center; margin-top: var(--box-margin);  margin-bottom: var(--box-margin); height: 240px; padding:28px 12px; text-align: center;  max-width: var(--box-max-width); background-color: #fde1e3; color: #a4a4a4; border: 1px dashed #a4a4a4;}
p.todo:before { content: "Doplnit";  }
p.todo:after { content: "....";  }

@media (max-width: 610px)
{
    p.todo { max-width: none;}
}

